<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Quiz</title>
</head>
<body> 

    <h1>Simple Quiz</h1>

    <div id="quiz">
        <h2 id="questionText"></h2>"

        <label>
            <input type="radio" name="choice" value="A">
            <span id="choice0Text"></span>
        </label><br>

        <label>
            <input type="radio" name="choice" value="B">
            <span id="choice1Text"></span>
        </label><br>

        <label>
            <input type="radio" name="choice" value="C">
            <span id="choice2Text"></span>
        </label><br>

        <label>
            <input type="radio" name="choice" value="D">
            <span id="choice3Text"></span>
        </label><br>
    </div>

    <button id="nextBtn">Next</button>

    <p id="result"></p>

    <script src="/static/quiz.js"></script>
</body>
</html>